:root{  /*estilos generales que se aplican a todo , en este caso muestra variables transversales de colores y tipografía*/
    --dark-green: #2f3e46;
    --main-color: #F3F5FC;
    --ligth-blue: #D8DFE8;
    --inter-font: "Inter", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--main-color);
    font-family: var(--inter-font);    
}

header{
    margin-bottom: 5rem;
    width: 60%;
}

main{
    display:flex; /*para organizar los elementos*/
    justify-content: space-around;
    
}

.logo-alura{
    width: 12rem;
    height: 4,8rem;
}

.logo-nataly{
    width: 4,8rem;
    height: 48px;  
}

.form-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70dvh;
}

.form-input{
    width: 100%;
    max-width: 577px;
    border-color: transparent;
    max-height: 64dvh;
    background: transparent;
    outline: none;  
    font-family: var(--inter-font);
    font-size: 3.2rem;
    color: var(--dark-green);
    margin-bottom: 3rem;
    overflow: auto; /*muestra una barra de desplazamiento para contenidos muy grandes*/
}

::placeholder{
    color: var(--dark-green);   
}

.alert-msj{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.form-btn{
    background: var(--dark-green);
    color: white;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid var(--dark-green);
    font-weight: 600;
    margin-right: 10px;
   
}

.form-btn--sec{
    background: var(--ligth-blue);
    color: var(--dark-blue)   
}

button:hover{
    background-color:var(--dark-green); 
    transform: scale(1.1); 
    color: white;
}


.resultado{
    background: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 80dvh;
    border-radius: 32px;
    max-width: 40rem;  
    width: 100%;  
    padding: 1rem 3rem;
}

.resultado-title{
    font-size: 2.4rem;
    font-weight: 600;
    color: #343a40;
}

.resultado-texto{
    font-size: 1.6rem;
}

.resultado-img{
    display: block; /*Muestra la imagen como un elemento de bloque para que ocupe el ancho completo disponible*/
}

.hidden{
    display: none;
}

footer{
    text-align: center;
    background-color: var(--dark-green);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.author{
    color: var(--ligth-blue);
    background-color: transparent;
    font-size: 12px;
    margin-right: 10px;
    
}

.link-linkedin{
    color: var(--ligth-blue);
    background-color: transparent;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    }


.logo-alura{
    padding: -55px;
}
    
@media screen and (max-width:500px) {  /*Para las funcionalidades responsive*/
    main{
        flex-direction: column;
    }

    .submit-container{
        justify-content: center;
    }

    .resultado{
        height: auto;
        max-width:624px ;
        margin-top: 2rem;
        min-height: 186px;
    }
         
    .submit-container{
        gap: 3rem;
        display: flex;
        flex-direction: column;
    } 
}









